/* variables */
:root {
    --dark: #764832;
    --light: #E6FAFC;
    --accent: #36558f;
}

/* global */

html {
    background-color: var(--light);
}

h2 {
    color: var(--dark);
    
}

body {
    color:var(--accent);
    background-color: var(--light);
}

header h1{
    color:var(--light);
}

i {
    font-size:3rem;
}

/* classes */

.fuelBy, .forgeBy {
    padding:.5rem;
    background-color:var(--dark);
    color:var(--light);
}

.forgeBy {
    position:relative;
    top:-11px;
}

.header-name {
    background-image: linear-gradient(180deg, var(--light) 30%, var(--dark) 30%, var(--dark) 70%)
}

.nav-link {
    color:var(--dark);
}

.nav-link:hover {
    color:var(--accent);
}

.pretend-border {
    background-image: radial-gradient(at 70% top, var(--dark) 1%, var(--light) 33%);
    height:.6rem;
}

.projects {
    border-left: solid 2px var(--accent);
}

.projectFeat {
    height:400px;
    width:47%;
    border:5px solid var(--dark);
    background-position: center, 0 0, center;
    background-size: cover, 100% 300%, cover;
    background-blend-mode: luminosity, multiply;
    background-repeat: no-repeat;
    overflow:revert;
    transition: all 1s;
}

.projectFeatTitle {
    position:relative;
    top:-2px;
    left:-2px;
    color:var(--light);
    background-color:var(--dark);
    transition: all 1s;
    height:10rem;
}

.projectTech {
    position: relative;
    bottom: -2rem;
    right: -5px;
    width: 50%;
    background-color: var(--light);
    border: 5px solid var(--accent);
    height: 4rem;
    transition:all 1s;
    transform:rotateX(90deg);
}

.projectFeat:hover .projectTech{
    transform:rotateX(0deg);
}

.tagContainer {
    height:5rem;
    padding:1rem;
}

/* classes for project background */
.constell {
    background-image: url(../images/constellation\ background.jpg),linear-gradient(0deg, white 33%, black 66%),url(../images/constellation\ background.jpg);

}

.git {
    background-image: url(../images/tech\ background\ image.jpg),linear-gradient(0deg, white 33%, black 66%),url(../images/tech\ background\ image.jpg);
    
}

.tds {
    background-image: url(../images/foodie_bg.jpg),linear-gradient(0deg, white 33%, black 66%),url(../images/foodie_bg.jpg);

}

.musing {
    background-image: url(../images/musing_bg.jpg),linear-gradient(0deg, white 33%, black 66%),url(../images/musing_bg.jpg);

}

.hoa{
    background-image: url(../images/hoa_bg.jpg),linear-gradient(0deg, white 33%, black 66%),url(../images/hoa_bg.jpg);
  
}

.playdate {
    background-image: url(../images/Play_Date_porfolio_shot_v1.jpg), linear-gradient(0deg, white 33%, black 66%),url(../images/Play_Date_porfolio_shot_v1.jpg);
}

.garden2 {
    background-image: url(../images/plant\ placeholder.webp),linear-gradient(0deg, white 33%, black 66%), url(../images/plant\ placeholder.webp);
 
}
.projectFeat:hover {
    border-color:var(--accent);
    background-position: center, 0% 70%, center;
    border-color:var(--accent);
}

.projectFeat:hover .projectFeatTitle{
    background-color:var(--accent);
}

/* ids */

#animation_container {
    padding-left:10rem;
}